{% extends "base.html" %}

{% block content %}
<head>
    <title>My exercises</title>
</head>

<section>
    <div class="list-group mb-3">
        {% for e in exercises %}
        <div class="list-group-item">
            <h4> Exercise: {{ e.name }}</h4>
            <p> Link: <a href="{{e.link}}"> {{ e.link }} </a> </p>
            {% if e.static == true %}
                <p> Goal: {{ e.goal }} seconds</p>
            {% else %}
                <p> Goal: {{e.goal}} reps </p>
            {% endif %}
            <span class="btn btn-primary btn-sm"><a href="{{ url_for( 'main.edit_exercise', exercise_id=e.id) }}"
                                                    style="color: floralwhite"> Edit </a> </span>
            <span class="btn btn-info btn-sm"><a href="{{ url_for( 'main.delete_exercise', exercise_id=e.id) }}"
                                                 style="color: floralwhite"> Delete </a> </span>
        </div>
        {% endfor %}
    </div>

    <a class="btn btn-primary" href="{{ url_for('main.new_exercise') }}" style="margin: 10px">
    Create New Exercise </a>

</section>

{% endblock %}